$black: #092433;
$white: #ffffff;
$text-color: rgba(0, 0, 0, 0.65);
$text-color-white: rgba(255, 255, 255, 0.8);
$border-color: #e8e8e8;

$xl-screen: 1200px;
$l-screen: 992px;
$md-screen: 768px;
$sm-screen: 576px;
$xs-screen: 320px;
